<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="google-site-verification" content="RMvzjiPq03ac0_lXVAHTZ7cmFJUtcskzxnZipDOFCEE" />
		<title>Portable Python - {{ page.title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="{{ site.url }}/css/normalize.min.css">
		<link rel="stylesheet" href="{{ site.url }}/css/main.css">
		<link rel="stylesheet" href="{{ site.url }}/css/monokai.css">

		<script src="{{ site.url }}/js/vendor/modernizr-2.6.2.min.js"></script>

		<!-- Uservoice -->
		<script type="text/javascript">
		  var uvOptions = {};
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/fdxwRezC1qtuSV7a8Nj15Q.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

	<a href="https://github.com/pericazivkovic/portablepython"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

	<header class="sitewide">
		<div class="container">
			<div class="row">
				<h1><a href="{{ site.url }}/">Portable Python</a></h1>
				<nav>
					<ul class="inline">
						<li><a href="{{ site.url }}/wiki/Download">Download</a></li>
						<li><a href="{{ site.url }}/wiki/Documentation">Documentation</a></li>
						<li><a href="http://groups.google.com/group/portablepython" target="_blank">User-group</a></li>
						<li><a href="{{ site.url }}/wiki/About">About</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="content">
			{{content}}
		</div>

		<div class="promotion">
			<div class="amazon">
				 <script charset="utf-8" type="text/javascript">
					amzn_assoc_ad_type = "responsive_search_widget";
					amzn_assoc_tracking_id = "portablepython-20";
					amzn_assoc_link_id = "4L54EKVJ2YM72NLB";
					amzn_assoc_marketplace = "amazon";
					amzn_assoc_region = "US";
					amzn_assoc_placement = "";
					amzn_assoc_search_type = "search_widget";
					amzn_assoc_width = 180;
					amzn_assoc_height = 600;
					amzn_assoc_default_search_category = "Books";
					amzn_assoc_default_search_key = "Python";
					amzn_assoc_theme = "light";
					amzn_assoc_bg_color = "EFEFEF";
					</script>
				<script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
			</div>			
			<div class="framed-box">
				<div class="frame-header">Help this project</div>
				If you like Portable Python project, please support further development by making a small donation. <br /><br />
                <center>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="10767849" />
                        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                </center>
			</div>
			<div class="framed-box">
				<div class="frame-header">Supported by</div>
				<a href="http://aws.amazon.com/grants/" title="Amazon AWS" target="_blank"><img class="suported_logo" src="{{ site.url }}/aws_logo.png"></a>
				<a href="http://www.openhosting.com" title="OpenHosting" target="_blank"><img class="suported_logo" src="{{ site.url }}/openhosting_logo.png"></a>
				<a href="http://holdenweb.com" title="Holden Web" target="_blank"><img class="suported_logo" src="{{ site.url }}/hwebtsf160x80.png"></a>
			</div>
		</div>
	</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

		<script src="{{ site.url }}/js/plugins.js"></script>
		<script src="{{ site.url }}/js/main.js"></script>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-775142-5']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
